
/* Your CSS Code here. */
table,th,td{
	border:1px solid black;
}
table{
	border-collapse: collapse;
	width: 70%;
}
th{
	background-color: aquamarine;
}
td:nth-child(odd){
	background-color: bisque;
}
table th {
	text-align: start;
}
table td {
	text-align: end;
}
td:nth-child(1){
	background-color:azure;
	text-align: start;
}